{% extends 'base.html' %} {% load static %} {% block seo %}
<meta name="description" content="Your website's description goes here." />
<meta name="keywords" content="Benser, Benser Cranes, crane manufacturer India, hoist supplier India, EOT cranes, gantry cranes, jib cranes, wire rope hoists, electric chain hoists, industrial cranes, material handling equipment, lifting solutions, overhead cranes, crane services India, crane installation, crane maintenance" />
<meta name="author" content="Benser" />

<!-- OpenGraph meta tags for social media sharing -->
<meta property="og:title" content="Your Page Title" />
<meta
  property="og:description"
  content="Your website's description goes here."
/>
<meta property="og:image" content="https://benser.in/static/img/og-image.jpg" />
<meta property="og:url" content="https://benser.in/" />
<meta property="og:type" content="website" />

<!-- Twitter Card meta tags for Twitter sharing -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Your Page Title" />
<meta
  name="twitter:description"
  content="Your website's description goes here."
/>
<meta name="twitter:image" content="https://benser.in/static/img/twitter-image.jpg" />

<!-- Canonical URL to avoid duplicate content issues -->
<link rel="canonical" href="https://benser.in/" />

<!-- Robots meta tag to control search engine indexing -->
<meta name="robots" content="index, follow" />

<title>Your Page Title</title>
{% endblock %} {% block style %}
<style></style>
{% endblock %} {% block body %}


    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="rs-breadcrumb-area rs-breadcrumb-one p-relative">
            <div class="rs-breadcrumb-bg" data-background="{% static "images/bg/breadcrumb-bg-01.png" %}"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 col-xl-8 col-lg-8">
                        <div class="rs-breadcrumb-content-wrapper">
                            <div class="rs-breadcrumb-title-wrapper">
                                <h1 class="rs-breadcrumb-title">Services Details</h1>
                            </div>
                            <div class="rs-breadcrumb-menu">
                                <nav>
                                    <ul>
                                        <li><span><a href="#">Industrie</a></span></li>
                                        <li><span>Services</span></li>
                                        <li><span>Services Details</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- services details area start -->
        <section class="rs-services-area section-space ">
            <div class="container">
                <div class="row g-5">
                    <div class="col-xl-8 col-lg-8">
                        <div class="rs-services-details-wrapper">
                            <div class="rs-services-details-thumb">
                                <img src="{{item.image.url}}" alt="image">
                            </div>
                            <h3 class="rs-services-details-title">{{item.name}}</h3>
                            <p class="mb-25 mt-15"><strong>{{item.short_description}}</strong></p>
                            <p>{{item.long_description}} </p>
                            
                            <div class="rs-services-details-cta">
                                <div class="rs-services-details-cta-bg-thumb" data-background="{% static 'images/bg/cta-bg-08.png' %}">
                                </div>
                                <div class="rs-services-details-cta-content">
                                    <h3 class="rs-services-details-title mb-40">We are always ready to help you and answer your
                                        questions</h3>
                                    <div class="rs-services-details-btn">
                                        <a class="rs-btn has-theme-orange has-icon has-bg" href="{% url 'contact' %}">Explore More
                                            <span class="icon-box">
                                    <svg class="icon-first" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                       <path
                                          d="M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z">
                                       </path>
                                    </svg>
                                    <svg class="icon-second" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                       <path
                                          d="M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z">
                                       </path>
                                    </svg>
                                 </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="rs-services-details-cta-thumb">
                                    <img src="{% static 'images/services/details/services-details-02.png' %}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="rs-sidebar-wrapper rs-sidebar-sticky">
                            <div class="sidebar-widget widget-categories-two has-content-none mb-30">
                                <h5 class="mb-25 sidebar-widget-title">Our Services</h5>
                                <ul>
                                    {% for dt in categories %}
                                    <li>
                                        <a href="{% url 'items_by_category' dt.url %}">
                                            {{dt.name}}
                                            <i class="ri-arrow-right-line"></i></a>
                                    </li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                            <div class="sidebar-widget widget-cta mb-30">
                                <div class="sidebar-widget-cta-thumb" data-background="{% static "images/bg/cta-bg-09.png" %}">
                                </div>
                                <div class="sidebar-widget-content">
                                    <h3 class="sidebar-widget-title has-large has-border">Have a <br> project in <br> mind?</h3>
                                    <div class="sidebar-widget-btn">
                                        <a class="rs-btn has-theme-orange has-icon has-bg" href="{% url 'contact' %}">Let’s Talk
                                            <span class="icon-box">
                                       <svg class="icon-first" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                          <path
                                             d="M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z">
                                          </path>
                                       </svg>
                                       <svg class="icon-second" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                          <path
                                             d="M31.71,15.29l-10-10L20.29,6.71,28.59,15H0v2H28.59l-8.29,8.29,1.41,1.41,10-10A1,1,0,0,0,31.71,15.29Z">
                                          </path>
                                       </svg>
                                    </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget widget-download mb-30">
                                <h5 class="mb-25 sidebar-widget-title">Download Brochures</h5>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="left">
                                                <span><img src="{% static 'images/icon/docs.svg' %}" alt="#"></span>
                                                Report 2023-24
                                            </div>
                                            <span><img src="{% static 'images/icon/download-01.svg' %}" alt="#"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="left">
                                                <span><img src="{% static 'images/icon/pdf.svg' %}" alt="#"></span>
                                                Download PDF
                                            </div>
                                            <span><img src="{% static 'images/icon/download-02.svg' %}" alt="#"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- services details area end -->

    </main>
    <!-- Body main wrapper end -->
{% endblock %} {% block script %}
<script></script>
{% endblock %}
